
.statusMsg {
  background-color:lightgreen;
  color: black;
  }
  ion-col {
    border: 1px solid grey;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  ion-grid {
  
    border-collapse: collapse;
    border-style: hidden;
    height: 100%;
    
  }
  ion-row {
    height: 38%;
  }
  .div1 {
    border: 2px solid groove;
  }
  ion-icon {font-size: 6rem;}s
.vehicle-card-header{
  /* background-color: #3e69b3;*/
   background-color: currentColor;
 }
 
 .parking-card-header{
  /* background-color: #3e69b3;*/
   /*background-color: darkolivegreen;*/
   background-color:lightslategrey;
   color: #ffffff;
 }
 
 .vehicle-number{
   border: 1px;
   border-color: green;
   border-style: solid;
   padding-left: 5px !important;
 }
 
 .vehicle-number-check{
   border: 1px;
     border-color: green;
     border-style: solid;
     padding: 6px;
     background-color: #b8d8b8;
 }
 .end-style {
   background-color:lightblue !important;    
   padding: 7px;
   border-radius: 5px;    
   width: 50%;  
 }
 
 .white-blue {
   background-color: white;
   color: #3e69b3;
   padding: 3px;
   border-radius: 3px;
 }

 .header .col {
  background-color:lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
/*
.vehicle-card{
    border-color: green;
    border-width: 1px;
    border-style: solid;
  }
  
  .vehicle-card-header{
    background-color: #3e69b3;
  }

  .parking-card-header{
    background-color: #3e69b3;
    color: #ffffff;
  }
  .vehicle-number{
    border: 1px;
    border-color: green;
    border-style: solid;
    padding-left: 5px !important;
  }
  
  .vehicle-number-check{
    border: 1px;
      border-color: green;
      border-style: solid;
      padding: 6px;
      background-color: #b8d8b8;
  }

  .end-style {
    background-color: #3e69b3 !important;    
    padding: 7px;
    border-radius: 5px;      
  }

  .white-blue {
    background-color: white;
    color: #3e69b3;
    padding: 3px;
    border-radius: 3px;
  }*/