td, th {
    padding: 10px;
    text-align: center;
    color:white;
}
.ion-margin{
    
    color:white;
}

.vehicle-card{
    border-color: green;
    border-width: 1px;
    border-style: solid;
  }
  
  .vehicle-card-header{
    background-color: #3e69b3;
   
    color: #ffffff;
  }

  .vehicle_img{
    height: 20px;
    width: 43px;
  }

  .trans_list {
    background-color: #99ccad;;
  }

  .trans_item{
      padding: 2px;
  }
  