<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kiosk</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="vehicle-card">    
    <ion-card-header class="vehicle-card-header">      
        <ion-card-title style="color:white">Select Kiosk Mode</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button expand="block" size="large" (click)="scan()">
            <ion-icon name="qr-code-sharp"></ion-icon>&nbsp;Scanner            
          </ion-button>
          <ion-button expand="block" size="large" (click)="manual()">
              <ion-icon name="accessibility-outline"></ion-icon>&nbsp;Manual              
            </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-segment (ionChange)="onStatusChange($event)" value="active">
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list class="trans_list" *ngIf="selectedStatus == 'active'">    
    <ion-item class="trans_item" *ngFor="let record of records">
      <ion-avatar slot="start">
        <img src="{{getVehicleImage(record.vehicle_type)}}"/>
      </ion-avatar>
      <ion-label>
        <h2><u>Vehicle No</u>:{{record.vehicle_no}}</h2>
        <h3>
          <b><u>Code</u></b>:{{record.qrcode}}
        </h3>        
        <h4>Start: {{record.insert_time}}</h4>        
      </ion-label>
      <ion-button (click)="viewRecord(record)">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>      
    </ion-item>
  </ion-list>
  <ion-list class="trans_list" *ngIf="selectedStatus == 'completed'">
    <ion-item class="trans_item" *ngFor="let record of completedRecords">      
      <ion-avatar slot="start">
        <img src="{{getVehicleImage(record.vehicle_type)}}"/>
      </ion-avatar>
      <ion-label expand="block">
        <h2><u>Vehicle No</u>:{{record.vehicle_no}}</h2>
        <h3>
          <b><u>Code</u></b>:{{record.qrcode}}
        </h3>
        <h4>S: {{record.start_time}}</h4>
        <h4>E: {{record.end_time}}</h4>        
      </ion-label>  
      <ion-button (click)="viewRecord(record)">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="print"></ion-icon>
      </ion-button>          
    </ion-item>
  </ion-list>
</ion-content>