<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Parking Areas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header lines="full">
      <ion-label>List</ion-label>
      <ion-button (click)="addArea()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-list-header>
    <ion-item *ngFor="let area of areas"> 
      <ion-thumbnail slot="start">
        <img src="{{area.image}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{area.name}}</h2>
        <h3>{{area.address}}</h3>
        <p><ion-icon name="car-sport-sharp"></ion-icon>:{{area.totalCars}},
        <ion-icon name="bicycle-sharp"></ion-icon>:{{area.totalBikes}},
        <ion-icon name="bus-sharp"></ion-icon>:{{area.totalHeavy}}</p>
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>